<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
<h1>You Laugh</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Main Ingredient 1</th>
        <th>Amount 1</th>
        <th>Main Ingredient 2</th>
        <th>Amount 2</th>
        <th>Directions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="drink : ${meow}">
        <td th:text="${drink.id}"></td>
        <td th:text="${drink.name}"></td>
        <td th:text="${drink.main1}"></td>
        <td th:text="${drink.amount1}"></td>
        <td th:text="${drink.main2}"></td>
        <td th:text="${drink.amount2}"></td>
        <td th:text="${drink.directions}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
